/* Base Styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    width: 100vw;
    overflow-x: hidden;

}
body {
    width: 99vw;
    margin: 0;

    background-color: #0F051B;
    color: #fff;
    text-align: center;
    overflow-x: hidden;

}

/* Header Styles */
header {
    background-color: #0f051b00;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}


/* Add this to your existing CSS */

/* Add this to your existing CSS */

nav {
    background-color: #fcf3f300;
    /* Transparent black background */
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    -webkit-backdrop-filter: blur(5px);
    /* Apply blur effect for Safari */
}


nav {
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0px ;
    padding: 0 20px;
}

.logo img {

    margin-right: auto;
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul.left {
    margin: auto;
    position: relative;
    display: flex;
    /* flex-grow: 1; */
    /* margin-left: 20px; Added gap between logo and navigation items */
}

nav ul.right {
    display: flex;
}

nav ul.left li,
nav ul.right li {
    margin-left: 40px;
    /* Increase gap between Home, Study Material, About, and Contact */
}

nav ul.right li.signup {
    margin-left: 20px;
    /* Further increase gap between Login and Sign up */
}

nav ul li:first-child {
    /* margin-left: ; */
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 5px;
}

nav ul li a.login,
nav ul li a.signup {
    color: #ff4dff;
}

/* Hero Section Styles */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: #0F051B; */
    color: #fff;
    padding: 0 20px;
    margin-top: 0px;
    z-index: -1;
    position: relative;
    /* backdrop-filter: blur(400px) */
}

.hero h1 {
    font-weight: 700;
    font-size: 120px;
    margin: 0;
    color: #8F00FF;
    text-shadow: 2px 2px 5px #000;
    filter: drop-shadow(0 0 77px #8F00FF)
}

.hero p {
    font-size: 30px;
    max-width: 600px;
    font-weight: 100;

}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul.left,
    nav ul.right {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul.left li,
    nav ul.right li {
        margin-left: 30;
    }

    .hero h1 {
        font-size: 3em;
    }

    .hero p {
        font-size: 1.2em;
    }
}

.video {
    width: 80vw;
    height: 86vh;
    border: 10px solid black;
    overflow: hidden;
}

/* Container styles */
.vid_container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    aspect-ratio: 2.4;
}


/* Video styles */
.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.heading {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 60px; */
    margin-bottom: 60px;
    font-weight: bold;
    margin-top: 150px;
}


.flex {
    display: flex;
}

a{
    color: #ffffff;
    text-decoration: none;

}


:root {
    color: black;
    text-color: white;
    accent-color: rgb(113, 165, 233);
}

* {
    margin: 0;
    padding: 0;
}

html {
    /* font-size: 12pt; */
    font-family: poppins, segoe UI, Tahoma, sans-serif;
}

nav-mobile {
    display: none;
    height: 60px;
    background-color: transparent ;
    /* display: flex; */
    justify-content: flex-end;
    align-items: center;

}

.link-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

nav-mobile a {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
}

nav-mobile a:hover {
    background-color: rgb(90, 37, 160);
    border-radius: 12px;
}

nav-mobile .home-link {
    margin-right: auto;
}

nav-mobile .svg {
    fill: white;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
    display: none;
}

@media (max-width:768px) {
    .body{
        width: 100%;
    }
    .hero{
        height: 50vh;
    }
    .link-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        /* backdrop-filter: blur(1000px);
        background-color: rgba(201, 130, 130, 0.568) ; */

        
    /* background-image: linear-gradient(319deg, #201e1e 0%, #471d24 37%, #201e1e 100%); */
        /* background: linear-gradient(10deg, rgb(22, 1, 1), rgb(43, 1, 43));
         */
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
/* From https://css.glass */

background: rgb(0, 0, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.6px);
-webkit-backdrop-filter: blur(10.6px);

        transition: 0.65s ease-out;
    }
  
   

    .nav-desktop{
        display: none;
    }
    nav-mobile {
        display: flex ;
        visibility: visible;
        justify-content: space-between;
        backdrop-filter: blur(100px);
    }

    nav-mobile a {
        font-size: 20px;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 20px 30px;
        justify-content: center;
        /* backdrop-filter: blur(100px); */
        /* background: linear-gradient(10deg, rgb(22, 1, 1), rgb(43, 1, 43)); */

        border-radius: 33px;
        margin: 1px;
        
background: rgba(0, 0, 0, 0.575);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.6px);
-webkit-backdrop-filter: blur(10.6px);


    }
    nav-mobile a:first-child{
        padding-top: 0;
    }
    nav-mobile a1{
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    
    .open-sidebar-button,
    .close-sidebar-button {
        padding: 20px;
        display: block;
        justify-self: flex-end;
    }
    .close-sidebar-button{
        padding-bottom: 0;
    }
    #sidebar-active:checked~.link-container {
        right: 0;

       
    }
    
    #sidebar-active:checked~#overlay {
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;

    }
.chota_menu{
    position: absolute;
    right: 0;
}
}