.cards {
    display: flex;
    /* flex-direction: column; */

    border: 2px solid black;
    /* justify-items: center; */
    align-items: center;
    background-color: #3e187a;
background-image: linear-gradient(316deg, #3e187a 0%, #994ecc 74%);
    height: auto;
    width: 80vw;
    margin: auto;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 30px;

}

.card {
    
    height: 300px;
    width: 200px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    /* background-color: white; */
    background-color: #663dff;
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);

    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(255, 254, 254, 0.5);
}