<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cards.css">
</head>
<body>

    <div class="cards">
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Placeholder">
            <h3>English</h3>
            <p></p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Placeholder">
            <h3>Maths</h3>
            <p></p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Placeholder">
            <h3>Science</h3>
            <p></p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Placeholder">
            <h3>Social Science</h3>
            <p></p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" alt="Placeholder">
            <h3>Hindi</h3>
            <p></p>
        </div>
        
    </div>
    
</body>
</html>