<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="infinite_cards.css">
</head>
<body>
    <div class="list">
        <div class="item">
            <img height="300px" width="200px" src="Assets/img/infinite/1.jpg" alt="">
        </div>
        <div class="item">
            <img height="300px" width="200px" src="Assets/img/infinite/2.jpg" alt="">
        </div>
        <div class="item">
            <img height="300px" width="200px" src="Assets/img/infinite/3.jpg" alt="">
        </div>
        <div class="item">
            <img height="300px" width="200px" src="Assets/img/infinite/4.jpg" alt="">
        </div>
        <div class="item">
            <img height="300px" width="200px" src="Assets/img/infinite/5.jpg" alt="">
        </div>
        <div class="item">
            <img height="300px" width="200px" src="Assets/img/infinite/6.jpg" alt="">
        </div>
        <div class="item">
            <img height="300px" width="200px" src="Assets/img/infinite/7.jpg" alt="">
        </div>
        <!-- <div class="item">
            <img height="300px" width="200px" src="Assets/img/infinite/8.jpg" alt="">
        </div>
        <div class="item">
            <img height="300px" width="200px" src="Assets/img/infinite/9.jpg" alt="">
        </div>
        <div class="item">
            <img height="300px" width="200px" src="Assets/img/infinite/10.jpg" alt="">
        </div> -->
    
    </div>
    
</body>
</html>