<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="slider.css">
    <link rel="stylesheet" href="cards.css">
    <script src="slider+cards.js"></script>
    <style>
        body{
            background-color: #0f051b00;
        }
    </style>
</head>
<body>
    <div class="container1 ">
        <div class="tabs">
            <input type="radio" id="radio-1" name="tabs" checked>
            <label class="tab" for="radio-1">Grade IX</label>

            <input type="radio" id="radio-2" name="tabs">
            <label class="tab" for="radio-2">Grade X</label>

            <span class="glider glider-text"></span>
        </div>
    </div>

    <div class="cards ">
        <div class="card" data-grade="IX" data-grade="X">
            <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
            <h3>English (classIX)</h3>
            <p></p>
        </div>
        <div class="card" data-grade="IX">
            <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
            <h3>Maths (classIX)</h3>
            <p></p>
        </div>
        <div class="card" data-grade="IX">
            <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
            <h3>Science (classIX)</h3>
            <p></p>
        </div>
        <div class="card" data-grade="IX">
            <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
            <h3>Social science (classIX)</h3>
            <p></p>
        </div>
        <div class="card" data-grade="IX">
            <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
            <h3>Hindi (classIX)</h3>
            <p></p>
        </div>
        <div class="card" data-grade="X" data-grade="X">
            <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
            <h3>English (classX)</h3>
            <p></p>
        </div>
        <div class="card" data-grade="X">
            <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
            <h3>Maths (classX)</h3>
            <p></p>
        </div>
        <div class="card" data-grade="X">
            <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
            <h3>Science (classX) </h3>
            <p></p>
        </div>
        <div class="card" data-grade="X">
            <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
            <h3>Social science (classX)</h3>
            <p></p>
        </div>
        <div class="card" data-grade="X">
            <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
            <h3>Hindi(classX)</h3>
            <p></p>
        </div>
    </div>
</body>
</html>